#
# You can call this workflow in your repository. See the example caller workflow:
#
# --------------------------------------------------------------------------------------
# name: Auto create manifest PR
# on: pull_request
# jobs:
#   call-workflow:
#     uses: nordicbuilder/action-manifest-pr/.github/workflows/auto-manifest-PR.yml@main
# --------------------------------------------------------------------------------------

name: Simple Manifest PR creation / update

on:
  workflow_call:
    secrets:
      NB_TOKEN:
        required: true

env:
  GH_TOKEN: ${{ secrets.NB_TOKEN }}

jobs:
  stop_if_external:
    runs-on: ubuntu-latest
    name: Check if user is external contributor
    steps:
      - name: Add external label
        uses: carlescufi/action-contribs@main
        with:
          github-token: ${{ secrets.NB_TOKEN }}                   
          command: 'external'
          labels: 'external'
      - name: Stop in case external label is set
        if: ${{ contains(github.event.pull_request.labels.*.name, 'external') }}
        run: |
          echo "External contribution detected. Automatic creation of manifest PR skipped."
          echo "To test your changes, please create PR in the sdk-nrf repository."
          exit 1

# This creates manifest PR
  create_manifest_pr:
    needs: stop_if_external
    if: github.event.action == 'opened'
    runs-on: ubuntu-latest
    name: Create manifest PR in sdk-nrf repo
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          repository: 'nrfconnect/sdk-nrf-testing'
          token: ${{ secrets.NB_TOKEN }}
      - name: Setup git
        run: |
          git config --global user.email "pylon@nordicsemi.no"
          git config --global user.name "Nordic Builder"
      - name: Change west.yml PR revision
        run: |
          # PROJECT_KEY=$(yq --exit-status '.manifest.projects[] | select(.repo-path == "${{ github.event.repository.name }}") |  key' west.yml)
          PROJECT_KEY=$(yq --exit-status '.manifest.projects[] | select(.repo-path == "sdk-nrfxlib") |  key' west.yml)
          yq ".manifest.projects[$PROJECT_KEY].revision = \"pull/${{ github.event.pull_request.number }}/head\"" west.yml > tmp.yml
          diff -B west.yml tmp.yml | patch west.yml -
      - name: Change west.yml Dragoon revision
        if: ${{ startsWith(github.event.pull_request.title, 'Update MPSL and SoftDevice Controller') }}
        env:
          COMMITS_URL: ${{ github.event.pull_request.commits_url }}
        run: |
          if [ "${COMMITS_URL}x" != "x" ]; then
            # API URL details: https://docs.github.com/en/rest/pulls/pulls?apiVersion=2022-11-28#list-commits-on-a-pull-request
            LAST_MSG=$(curl -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "${COMMITS_URL}?per_page=3" | jq -r .[-1].commit.message)
          fi
          DRAGOON_REV=$(echo $LAST_MSG | awk 'NR==1 {print $3}' | head)
          echo "DRAGOON_REV is $DRAGOON_REV"
          PROJECT_KEY=$(yq --exit-status '.manifest.projects[] | select(.name == "dragoon") |  key' west.yml)
          yq ".manifest.projects[$PROJECT_KEY].revision = \"$DRAGOON_REV\"" west.yml > tmp.yml
          diff -B west.yml tmp.yml | patch west.yml -
      - name: Commit changed west.yml and create PR
        run: |
          git checkout -b manifest_pr
          git add west.yml
          git commit -m "manifest: Update ${{ github.event.repository.name }} revision (auto-manifest PR)" -m "Automatically created by Github Action" --signoff
          git remote add fork https://nordicbuilder:${{ secrets.NB_TOKEN }}@github.com/nordicbuilder/sdk-nrf
          git push fork manifest_pr:auto-manifest-${{ github.event.repository.name }}-${{ github.event.pull_request.number }} -u
          gh pr create --head nordicbuilder:sdk-nrf/auto-manifest-${{ github.event.repository.name }}-${{ github.event.pull_request.number }} \
            --base main --title "manifest: Update revision of ${{ github.event.repository.name }}" \
            --body "Automatically created by Github Action from PR: $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/pull/${{ github.event.pull_request.number }}"

# This will retrigger CI for manifest PR
  retrigger_ci:
    needs: stop_if_external
    if: github.event.action == 'synchronize'
    runs-on: ubuntu-latest
    name: Trigger sdk-nrf manifest-PR CI
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          repository: 'nrfconnect/sdk-nrf'
          token: ${{ secrets.NB_TOKEN }}
          fetch-depth: 0
      - name: Setup git
        run: |
          git config --global user.email "pylon@nordicsemi.no"
          git config --global user.name "Nordic Builder"
      - name: Change commit sha and push it
        run: |
          git checkout auto-manifest-${{ github.event.repository.name }}-${{ github.event.pull_request.number }}
          git commit --amend --no-edit
          git push origin auto-manifest-${{ github.event.repository.name }}-${{ github.event.pull_request.number }}:auto-manifest-${{ github.event.repository.name }}-${{ github.event.pull_request.number }} -f

# This will modify manifest PR once subrepo PR was merged
  change_pr_to_sha:
    needs: stop_if_external
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    name: Change west.yml PR-pointer to git-sha
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          repository: 'nrfconnect/sdk-nrf'
          token: ${{ secrets.NB_TOKEN }}
          fetch-depth: 0
      - name: Setup git
        run: |
          git config --global user.email "pylon@nordicsemi.no"
          git config --global user.name "Nordic Builder"
          git checkout auto-manifest-${{ github.event.repository.name }}-${{ github.event.pull_request.number }}
      - name: Change commit sha and push it
        run: |
          PROJECT_KEY=$(yq --exit-status '.manifest.projects[] | select(.repo-path == "${{ github.event.repository.name }}") |  key' west.yml)
          yq ".manifest.projects[$PROJECT_KEY].revision = \"$GITHUB_SHA\"" west.yml > tmp.yml
          diff -B west.yml tmp.yml | patch west.yml -
      - name: Commit changed west.yml
        run: |
          git add west.yml
          git commit --amend --no-edit
          git push origin auto-manifest-${{ github.event.repository.name }}-${{ github.event.pull_request.number }}:auto-manifest-${{ github.event.repository.name }}-${{ github.event.pull_request.number }} -f
